@model Mino.Core.ViewModels.ProjectsViewModel

@{
    ViewBag.Title = "Manage projects";
}

<h2>Manage projects</h2>
<ul class="projects-list">
    @foreach (var project in Model.Projects)
    {
        <li>
            <div class="project-box">
                <span class="glyphicon glyphicon-record @project.Color"></span>
                <span class="name">@project.Name</span>
                <div class="actions">
                    <a href="#" class="js-delete-project" data-id="@project.Id">Delete</a>
                </div>
            </div>
        </li>
    }
</ul>