@model IEnumerable<Mino.Models.Project>

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>
<ul class="projects-list">
    @foreach (var project in Model)
    {
        <li>
            <div class="project-box">
                <span class="glyphicon glyphicon-record"></span>
                <span class="name">@project.Name</span>
                <div class="actions">
                    <a href="#" class="js-delete-project">Delete</a>
                </div>
            </div>
        </li>
    }
</ul>