body {
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 270px;
  transition: all 0.4s ease 0s;
}
@media (min-width: 1px) and (max-width: 991px) {
  body {
    padding-left: 0 !important;
    transition: all 0.4s ease 0s !important;
  }
  .tasks {
    padding-left: 40px !important;
  }
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
  padding: 0;
  margin: 0;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
/* Color set */
.BLUE {
  color: #0074D9 !important;
}
.AQUA {
  color: #7FDBFF;
}
.TEAL {
  color: #39CCCC;
}
.OLIVE {
  color: #3D9970;
}
.GREEN {
  color: #2ECC40;
}
.LIME {
  color: #01FF70;
}
.YELLOW {
  color: #FFDC00;
}
.ORANGE {
  color: #FF851B;
}
.RED {
  color: #FF4136;
}
.MAROON {
  color: #85144b !important;
}
.FUCHSIA {
  color: #F012BE;
}
.PURPLE {
  color: #B10DC9;
}
.BLACK {
  color: #111111;
}
.GRAY {
  color: #AAAAAA;
}
.SILVER {
  color: #DDDDDD;
}
/* Bootstrap overrides */
#createModal h4,
#createModal .h4 {
  font-size: 16px;
}
.navbar-inverse {
  background-color: #0f1626;
  border-color: #080808;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
/* Project list view */
.projects-list {
  list-style: none;
}
.projects-list li:nth-child(even) {
  background-color: #f3f3f3;
}
.projects-list li:hover {
  background-color: #ebebeb;
}
.projects-list li {
  position: relative;
  margin-top: 50px;
  border: 0.8px #949494 solid;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
}
.projects-list li .project-box .glyphicon {
  font-size: 50px;
  top: 3px;
}
.projects-list li .project-box .name {
  position: absolute;
  left: 60px;
  top: 3px;
  font-size: 20px;
}
.projects-list li .project-box .actions {
  position: absolute;
  left: 60px;
  top: 34px;
}
/* Task list view */
.tasks-container {
  margin-top: 40px;
}
.tasks-container h2 {
  margin-top: 35px;
  margin-bottom: 0;
}
.tasks {
  list-style: none;
  padding-right: 40px;
  padding-left: 25px;
}
.tasks li:nth-child(even) {
  background-color: #f3f3f3;
}
.tasks li:hover {
  background-color: #ebebeb;
}
.tasks li {
  border: solid 0.5px lightgrey;
  border-radius: 25px;
  margin-bottom: 10px;
}
.tasks li .task-box {
  position: relative;
  height: 55px;
  cursor: pointer;
}
.tasks li .task-box a {
  color: black;
}
.tasks li .task-box .task-tick {
  position: absolute;
  top: 9px;
  left: 10px;
}
.tasks li .task-box .task-tick i.glyphicon {
  font-size: 2.5em;
  color: #a1a1a1;
}
.tasks li .task-box .task-name {
  font-size: 18px;
  position: absolute;
  top: 6px;
  left: 50px;
}
.tasks li .task-box .task-attributes {
  position: absolute;
  left: 50px;
  bottom: 0;
}
.tasks li .task-box .task-attributes .attr-section {
  display: inline-block;
  padding-right: 1px;
}
/* Sidebar */
#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background-color: #132231;
  position: fixed;
  height: 100%;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  color: #adadad;
}
#sidebar-wrapper .sidebar-nav {
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar-wrapper .sidebar-nav .sidebar-item {
  text-align: center;
  line-height: 50px;
  position: relative;
}
#sidebar-wrapper .sidebar-nav .sidebar-item a {
  color: #adadad;
  text-decoration: none;
  display: block;
}
#sidebar-wrapper .sidebar-nav .sidebar-item .sidebar-item-text {
  font-size: 18px;
}
#sidebar-wrapper .sidebar-nav .sidebar-item .sidebar-icon {
  position: absolute;
  left: 50px;
  top: 18px;
}
#sidebar-wrapper .sidebar-nav .sidebar-item .glyphicon-chevron-up {
  position: absolute;
  right: 65px;
  top: 18px;
}
#sidebar-wrapper .sidebar-nav .sidebar-item:hover {
  transition: all 0.2s ease 0s;
  background-color: rgba(118, 50, 63, 0.96);
}
#sidebar-wrapper .sidebar-nav .sidebar-item:hover a {
  transition: all 0.1s ease 0s;
  color: white;
}
#sidebar-wrapper .menu-in-list a {
  padding-left: 50px;
}
#sidebar-wrapper .menu-in-list a .glyphicon {
  position: absolute;
  top: 18px;
  left: 88px;
}
#sidebar-wrapper .menu-in-list a .sidebar-menu-in-item-text {
  font-size: 15px;
}
#sidebar-wrapper .add-project {
  text-align: center;
  padding-top: 10px;
}
#sidebar-wrapper .add-project a {
  text-decoration: none;
  transition: 0.1s;
}
#sidebar-wrapper .add-project a:hover {
  color: #ed6e13;
  transition: 0.1s;
}
#sidebar-wrapper .projects-form {
  padding: 10px;
}
#sidebar-wrapper .add-tag {
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
}
#sidebar-wrapper .add-tag a {
  text-decoration: none;
  transition: 0.1s;
  padding-left: 0;
}
#sidebar-wrapper .add-tag a .glyphicon {
  position: static;
}
#sidebar-wrapper .add-tag a:hover {
  color: #ed6e13;
  transition: 0.1s;
}
#sidebar-wrapper .tag-form {
  padding: 0 10px 30px 10px;
}
#sidebar-wrapper .edit-task-content {
  padding-right: 10px;
}
#sidebar-wrapper .edit-task-content li {
  padding: 10px;
}
#sidebar-wrapper .edit-task-content .btn {
  margin-left: 10px;
}
#sidebar-wrapper .project-color {
  font-size: 20px;
}
#sidebar-wrapper .search-form {
  padding: 10px;
}