@{
    ViewBag.Title = "MINO - Home";
    Layout = "~/Views/Account/_FrontPageLayout.cshtml";
}

<div class="image">
    <img src="~/Content/Images/laptop_park.jpg" alt="Love productivity!" />
</div>
<div class="account">
    <div class="login">@Html.ActionLink("LOGIN", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</div>
    <div class="register">@Html.ActionLink("REGISTER", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</div>
</div>

